/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Roboto Condensed', sans-serif;*/
/*font-family: 'Oswald', sans-serif;*/


body{
	margin: 0px;
}
.header{
	height: 400px;
}
.projects{
	overflow: hidden;
	width: 100%;
	padding-top: 25px;
	/*font-size: 0px;*/
	
}
.project{
	padding: 50px 0;
	margin: 0 -20px 0 -20px;
	position: relative;
	border-bottom: 10px solid rgba(0,0,0,.7);
	/*height: 250px;*/

	font-family: 'Oswald', sans-serif;
	color: #FFF;

	/*Dots , Background*/
	background-size: auto, 100%;
	background-position: center;
	background-repeat: repeat, no-repeat;

	-webkit-transform: translateZ(1px) skew(-2.5deg);
	-moz-transform: translateZ(1px) skew(-2.5deg);
	-o-transform: translateZ(1px) skew(-2.5deg);
	-ms-transform: translateZ(1px) skew(-2.5deg);
	transform: translateZ(1px) skew(-2.5deg);

	-webkit-transform: translateZ(1px) rotateZ(-2.5deg);
	-moz-transform: translateZ(1px) rotateZ(-2.5deg);
	-o-transform: translateZ(1px) rotateZ(-2.5deg);
	-ms-transform: translateZ(1px) rotateZ(-2.5deg);
	transform: translateZ(1px) rotateZ(-2.5deg);

}
.project-top{
	border-top: 10px solid rgba(0,0,0,.7);
}
.project-container{
	/*height: 100%;*/
	padding-bottom: 10px;
	margin: 0 80px;
	color: rgba(255,255,255,0.9);
	text-align: left;
	/*background-color: rgba(255,255,255,0.5);*/

	/*-webkit-transform: translateZ(1px) rotateZ(2.5deg);
	-moz-transform: translateZ(1px) rotateZ(2.5deg);
	-o-transform: translateZ(1px) rotateZ(2.5deg);
	-ms-transform: translateZ(1px) rotateZ(2.5deg);
	transform: translateZ(1px) rotateZ(2.5deg);*/
	-webkit-transform: translateZ(1px) skew(-2.5deg);
	-moz-transform: translateZ(1px) skew(-2.5deg);
	-o-transform: translateZ(1px) skew(-2.5deg);
	-ms-transform: translateZ(1px) skew(-2.5deg);
	transform: translateZ(1px) skew(-2.5deg);
}
.project-right{
	text-align: right;
}
.project-type{
	display: inline-block;
	font-size: 55px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2.8px;
}
.project-title{
	display: inline-block;
	font-size: 40px;
	font-weight: 400;
}
.project-subtitle{
	display: inline-block;
	font-size: 30px;
	font-weight: 400;
}
.project-author{
	display: inline-block;
	font-size: 20px;
	font-weight: 400;	
}
.project-detail{
	background-color: rgba(0,0,0,0.6);
	padding: 5px 20px;
	margin-top: 10px;
}
.project-pattern{
	background-size: auto, auto;
	background-repeat: repeat,repeat;
}
