<html ng-app="unassigned">
<head>
	<title>Unassigned</title>

	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<!-- REMOVE ANYTHING WE'RE NOT USING -->
	<link href='//fonts.googleapis.com/css?family=Roboto:400,300,500|Oswald:400,300' rel='stylesheet' type='text/css'>
	<!-- REMOVE ANYTHING WE'RE NOT USING -->


	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
	<script type="text/javascript" src="./js/main.js"></script>
</head>
<body>

	<div class="header">

	</div>
	<div class="projects" ng-controller="projectCtrl">
		<div class="project" ng-repeat="project in projects" back-img="{{project.backImg}}" back-overlay="//i.imgur.com/YJ1NDfw.png" ng-class="{'project-top': $first, 'project-pattern': project.pattern}">
			<div class="project-container" ng-class-odd="'project-right'">
				<div>
					<div class="project-type project-detail" ng-if="project.type">
						{{project.type}}
					</div>
				</div>
				<div>
					<div class="project-title project-detail" ng-if="project.title">
						{{project.title}}
					</div>
				</div>
				<div>
					<div class="project-subtitle project-detail" ng-if="project.subtitle">
						{{project.subtitle}}
					</div>
				</div>
				<div>
					<div class="project-author project-detail" ng-if="project.author">
						{{project.author}}
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>